#top-link{
	cursor:pointer;
	display:none;
	position:fixed;
	left:0px;
	top:0px;
	padding:0;
	height:100%;
	padding-top:50px;
}
#top-link a{
	position:absolute;
	height:100%;
	display:block;
	font-size:2em;
	text-decoration:none;
	opacity:0;
}
#top-link:hover a{
opacity:1;
}

.veryhidden{
	position: absolute !important;
	left:-5555px !important;
}
#top-link:hover{
	background:#E1E7ED;
	/* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

  /* IE 5-7 */
  filter: alpha(opacity=50);

  /* Netscape */
  -moz-opacity: 0.5;

  /* Safari 1.x */
  -khtml-opacity: 0.5;

  /* Good browsers */
  opacity: 0.5;
}