#filterpro .option_box {
    /*border: 1px solid #38B0E3;
    border-radius: 7px;*/
    display: inline-block;
    margin: 5px;
    min-width: 80px;
  max-width: 175px;
    vertical-align: top;
}
#filterpro .option_box.active {
border: 1px solid #2263a5;
}
#filterpro .option_box.filterpro-discount.active {
border: 1px solid #CB2B32;
color: #fff;
background-color: #E31E24;
}
#filterpro .option_box:hover {
background:#FBFBFB;
}
#filterpro .option_box{
  border: 1px solid #ddd;

}


#filterpro .price_limit {
    border: 2;
    color: #2263a5;
    font-weight: bold;
    width: 100%;
}

#filterpro .ui-widget-header {
    background: none repeat scroll 0 0 #2263a5;
    border: 0 none;
    color: #26a;
    font-weight: bold;
}

#filterpro select {
    width: 126px;
}

#filterpro .ui-state-hover, #filterpro .ui-state-focus, #filterpro .ui-state-active {
    border: 1px solid #62a3e5;
  border-radius: 10px;
    /*background: none repeat scroll 0 0 #d9f2fc;*/
  background: none repeat scroll 0 0 #ffffff;
}

#filterpro .price_slider {
    padding: 5px;
    height:85px;
}

#filterpro .price_slider  input {
    width: 50px;
}

#filterpro .option_values {
    padding-top: 5px;
}

#filterpro .option_name, #filterpro .attribute_group_name {
    /*background: url("../image/filter-bullet-up.png") no-repeat scroll right center transparent;
  font-weight:bold;*/
    cursor: pointer;
    padding: 5px;
    text-align: center;

}
#filterpro .attribute_group_name{
    padding-left: 0;
}

#filterpro .hided {
    /*background: url("../image/filter-bullet-down.png") no-repeat scroll right center transparent;*/
    cursor: pointer;
}

#filterpro_box .clear_filter {
  border-radius:3px;
    border-left: 1px solid #bbb;
  border-top: 1px solid #bbb;
  border-right: 2px solid #bbb;
  border-bottom: 2px solid #bbb;
  padding:3px 6px 3px 6px;
    text-decoration: none;
    float: right;
  font-size:15px;
  background:#fafafa;
}
#filterpro_box .clear_filter:hover {
  background:#ffffff;
  /*text-decoration: underline;*/
}
#filterpro_box .clear_filter:active {
    border-left: 2px solid #bbb;
  border-top: 2px solid #bbb;
  border-right: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
}

#filterpro .collapsible{
    /*max-height: 350px;
    overflow-x: hidden;
    overflow-y: auto;*/
    width: 250px;
    padding: 5px 5px 0 5px;
    background: #fff;
    z-index: 5;
    position: absolute;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-left: -6px;
}
#filterpro .collapsible div{
  max-height: 350px;
  overflow-x: hidden;
  overflow-y: auto;
}
#filterpro img {
    cursor: pointer;
    margin: 2px
}

#filterpro img.selected {
    border: 2px solid;
    margin: 0;
}
#column-left + #column-right + #content .product-grid > div.loadmask {
    width: 100%;
}

#filterpro input {
    margin: 4px 3px;
}

#filterpro table{
     margin-bottom: 5px;
   border-spacing: 0px 0px;

}

#filterpro div .size{
width:24px;
height:24px;
display:inline-block;
border: 1px solid #ccc;
padding:3px;
margin-bottom:5px;
text-align: center;
font: 12px/24px Arial;
}


.filtered{
display:none;
}
.filtered.list-options{

}
.filtered.list-options+label,
.filtered.list-attributes+label{
  border-bottom: unset;
}
.filtered.list-options+label:before,
.filtered.list-attributes+label:before{
  content: '';
  width: 17.2px;
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  height: 17px;
  background: url("/catalog/view/theme/default/image/right-li.jpg") 0 0 no-repeat;
}
.filtered.list-options[type="checkbox"]:checked+label:before,
.filtered.list-attributes[type="checkbox"]:checked+label:before{
  background: url("/catalog/view/theme/default/image/right-li-6.jpg") -17px 0 no-repeat;
}
/*.filtered.list-options[type="checkbox"]+label:hover:before{
  background: url("/catalog/view/theme/default/image/right-li.jpg") -17px 0 no-repeat;
}*/
input.filtered.list-options[type="checkbox"]+label.manufacturers:hover,
input.filtered.list-attributes[type="checkbox"]+label.attributes:hover{
  background: #e7e7e7 !important;
  color: black !important;
}
input.filtered.list-options[type="checkbox"]:checked+label.manufacturers,
input.filtered.list-attributes[type="checkbox"]:checked+label.attributes{
  background: none;
  color: black;
}
.filtered.list-options+label,
.filtered.list-attributes+label{
  display: block;
  vertical-align: top;
}

#filterpro div .size:hover{
background:#42a3f5;
border: 1px solid #444;
color:#fff;
}

#filterpro input[type="checkbox"]:checked + .size {
border:4px;
background:#2283c5;
border: 1px solid #999;
Font-weight:bold;
color:#fff;
}
#filterpro input[type="checkbox"]:checked + .size:hover {
border:4px;
border: 1px solid #999;
background:#42a3f5;
color:#fff;

}
#filterpro div input[type="checkbox"]:disabled + .size{
display:none;
/*background:#ffffff;
color:#eee;
border: 1px solid #888;*/
}
/*#filterpro div input[type="checkbox"]:disabled + span:hover label{
cursor:default;
}*/

/*.option_box input[type="checkbox"]:checked + .size label{
Font-weight:bold;
}*/


#slider-range {
width: 235px;
margin-left: 5px;
margin-top: 10px;
height: 1.4em;
}
#slider-range a{
top: 0px;
    border: 1px solid #2263a5;
  border-radius: 10px;]
  background:#2263a5;
    /*background: none repeat scroll 0 0 #d9f2fc;*/
  background: none repeat scroll 0 0 #f9f9ff;
}

.option_box .categories {
  padding:3px;
  border-bottom: 1px solid #ddd;
}
.option_box .categories:hover {
background:#42a3f5;
color:#fff;
}
.option_box input[type="checkbox"]:checked + .categories{
  background:#2283c5;
  color:#fff;
}
.option_box input[type="checkbox"]:checked + .categories:hover{
  background:#42a3f5;
  color:#fff;
}

.option_box .manufacturers {
  padding:3px;
  border-bottom: 1px solid #ddd;
}
.option_box .manufacturers:hover {
background:#42a3f5;
color:#fff;
}
.option_box input[type="checkbox"]:checked + .manufacturers{
  background:#2283c5;
  color:#fff;
}

.option_box input[type="checkbox"]:checked + .manufacturers:hover{
  background:#42a3f5;
  color:#fff;
}

.option_box input[type="checkbox"]:disabled + .manufacturers{
  display:none;
}

.option_box .attributes {
  padding:3px;
  border-bottom: 1px solid #ddd;
}
.option_box .attributes:hover {
background:#42a3f5;
color:#fff;
}
.option_box input[type="checkbox"]:checked + .attributes{
  background:#2283c5;
  color:#fff;
}
.option_box input[type="checkbox"]:checked + .attributes:hover{
  background:#42a3f5;
  color:#fff;
}


.option_box input[type="checkbox"]:disabled + .attributes{
  display:none;
}

.filterpro-chosen {
	border-top: 1px solid #c9c9c9;
  display: none;
}

.filterpro-chosen--active {
  display: block;
}

.filterpro-chosen:after {
  content: '';
  display: block;
  clear: both;
}

.filterpro-chosen__item {
  border: 1px solid #ddd;
  padding: 5px 31px 5px 10px;
  margin: 5px;
  position: relative;
  font-size: 14px;
  float: left;
}

.filterpro-chosen__remove {
  position: absolute;
  right: 10px;
  top: 9px;
  width: 12px;
  height: 12px;
  opacity: .6;
  background-image: url(../image/multiply.png);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: opacity .3s;
  -moz-transition: opacity .3s;
  -ms-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
}

.filterpro-chosen__remove:hover {
  opacity: 1;
}

.filterpro__title {
  font-size: 12px;
  font-weight: bold;
  padding: 12px 22px;
  float: left;
  width: 105px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.filterpro__title--big {
  width: initial;
}
.filterpro__section {
  padding: 10px 0;
}
.option_box.filterpro-discount {
  min-width: 50px;
  text-align: center;
}
.option_box.filterpro-discount label {
  display: inline-block;
  padding: 5px 20px;
}
input.filterpro-discount {
  display: none;
}
#filterpro_box {
  opacity: 1;
  -webkit-transition: opacity .3s;
  -moz-transition: opacity .3s;
  -ms-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
  margin-bottom: 0;
}

#content.content-is-loading #filterpro_box {
  opacity: .3;
  position: relative;
}

#content.content-is-loading #filterpro_box:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
}