@media screen and (max-width:1220px){
#top.resize{
	height: 45px;
}
#top.resize  #top-contener {
	height: 50px;
	line-height: 50px;
}
#top.resize  #top-contener:before,
#top.resize  #top-contener:after {
	height: 45px;
}
#header #top.resize #cart {
	top: 10px;
}



/* layout */

#container {
	width: 94%;
}
#column-right {
	display: none;
}
#column-right + #content-top,
#column-right + #content{
	margin-right: 0;
}

#geoip {
display:none!important;
}

/* top line header*/

#top {
	position: absolute;
	background: none;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	height: 0;
}
#top #top-contener {
	width: 920px;
	margin: 0 0;
	padding: 0 10px;
	border-left: 1px solid #c9c9c9;
	border-right: 1px solid #c9c9c9;
	box-shadow: 0px 1px 1px 0 rgba(0,0,0,0.33);
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	border-radius: 0 0 5px 5px;
}
#top-contener:before,
#top-contener:after {
	display: none;
}
.tittle_text{
	display: none!important;
}



/* center line header*/

#header #search {
	margin-left: -350px;
}
#header #search input{
	width: 200px;
}
#menu  #r-menu-toggle{
	display: block;
	position: relative;
	font-size: 18px;
	font-weight: bold;
	line-height: 54px;
	text-align: center;
	color: #747474;
	text-decoration: none;
	padding: 0 40px;
}
#r-menu-toggle:before,
#r-menu-toggle:after{
	content: "";
	display: block;
	position: absolute;
	width: 55px;
	height: 36px;
	top: 50%;
	margin: -18px 0 0 0;
}
#r-menu-toggle:before{
	left: 0;
	background: url(../image/category-icon.png) center no-repeat;
}
#r-menu-toggle:after{
	right: 0;
	background: url(../image/resp-menu-arrow.png) top no-repeat;
}
#r-menu-toggle.open-toggle:after{
	background-position: bottom;
}
#menu {
	height: auto;
}
#menu ul{
	display: none;
}
#menu ul.show{
	display: block;
	position: relative;
	overflow: hidden;
}
#menu > ul > li.home-item {
	display: none;
}
#menu ul > li, #menu ul > li:hover,
#menu ul > li:last-child:hover,
#menu ul > li > a,
#menu ul > li > a:hover{
	border-left: none;
	border-right: none;
}
#menu > ul > li:hover > .with-child {
	border-bottom: none;
}
#menu > ul > li:hover > .with-child:after {
	display: none;
}
#menu ul > li{
	display: block;
	float: none;
	border-top: 1px solid #ccc;
}
#menu ul > li:hover > a{
	font-weight: bold;
}
#menu ul > li:hover > div{
	display: none;
}





.htabs a {
	padding: 8px 15px 7px 15px;
	font-size: 16px;
}


.category-list ul li {
	width: 170px;
}
#column-left + #column-right + #content .category-list ul li {
	width: 211px;
}
#column-left + #content .category-list ul li,
#column-rigth + #content .category-list ul li {
	width: 211px;
}

.product-filter b{display: none!important;}

.product-list > div {
	display: block;
	margin-left: 20px;
	margin-right: 0;
	width: 438px;
}
#column-left + #column-right + #content .product-list > div {
	width: 658px;
}
#column-left + #content .product-list > div,
#column-rigth + #content .product-list > div {
	width: 658px;
}


.product-grid > div {
	width: 198px;
}
#column-left + #column-right + #content .product-grid > div {
	width: 191px;
}
#column-left + #content .product-grid > div,
#column-rigth + #content .product-grid > div {
	width: 191px;
}


.product-info {
/*width:auto;*/
}

.product-info > .left{
	float: none;
	width: auto;
}
.product-info > .left + .right {
	margin-left: 0;
	min-height: 0;
}
.review-form .select-rating{
	float: none;
	margin-bottom: 10px;
	text-align: center;
}
.review-form .review-capcha{
	margin-left: 0;
	margin-right: 0;
	text-align: center;
}
.review-form .buttons{
	float: none;
	text-align: center;
	margin-bottom: 10px;
}

.jcarousel-skin-opencart .jcarousel-item-horizontal {
	width: 225px!important;
}
}

@media screen and (max-width:1000px){
#contact-us{
 /*display:none;*/
}

#search{
left:75%!important;
}
}

@media all and (max-width:730px){
#header{
height: 240px;
}

#header #logo{
left: 23%;
}

#search{
left:50%!important;
top: 175px!important;
}

body{
width:480px;
}

#slideshow0{
display:none;
}
#in-socium{
display:none!important;

}

#content{
margin-left: 10px!important;

}
.breadcrumb{
display:none;
}
#column-left{
margin-right: 10px;
}

#filterpro_box .clear_filter{
margin-bottom:10px;
}


#carousel0 li{
width: 117px !important;
}
#carousel0 img{
width: 112px !important;
}

#geoip {
display:none!important;
}

}
