[name=search] {
	outline: none;
}
#livesearch, #livesearch * {
	margin: 0;
	padding: 0;
	list-style: none;
}
#livesearch {
	position: absolute;
	width: 200px;
	top: 0px;
	background: #ffffff;
	z-index: 100;
	box-shadow: 0px 10px 30px rgba(0,0,0,.5);
}
#livesearch li {
	border-top: 1px solid #eeeeee;
}
#livesearch a {
	color: #666666;
	display: block;
	clear: both;
	overflow: hidden;
	line-height: 16px;
	padding: 5px;
	text-decoration: none;
}
#livesearch a.amore {
	color: #ffffff;
	padding: 0px;
}
#livesearch a:hover, 
#livesearch a:hover .pmore,
#livesearch li.active a
{
	background: #666666 !important; /* #38B0E3 */
	color: #ffffff !important;
}
#livesearch img {
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 10px;
}
#livesearch img[src=''] {
	display: none;
}
.pmore {
	background: #ff0066;
	/* margin: 10px 5px !important; */
	padding: 15px 5px !important;
	text-align: center;
}
#livesearch a em {
	display: block;
	color: #333333;
	font-style: normal;
	font-weight: bold;
}
#livesearch a:hover em, #livesearch li.active a em {
	color: white;
}
#livesearch strike {
	color: #aaaaaa;
}
#livesearch a:hover strike {
	color: #f66; /* lightblue */
}
#livesearch small {
	display: block;
}